# Игнорировать базу данных
bot_database.sqlite3

# Игнорировать файлы окружения
.env

# Игнорировать кэш Python
__pycache__/

# Игнорировать настройки IDE (если используешь, например, PyCharm или VSCode)
.idea/
.vscode/

# Игнорировать Docker артефакты (если вдруг)
*.log
*.pid
assets/locales/ru_backup.json
assets/locales/en_backup.json
assets/proxies.json
src/database/models_old.py
.serena/
AGENTS.md

